{% extends "matrix-field-preview/_layouts/settings" %}

{% import '_includes/forms' as forms %}

{% from "matrix-field-preview/_includes/macros" import assetLocationInput,configWarning  %}

{% set fullPageForm = true %}

{% set title = "Fields Configuration" | t("matrix-field-preview") %}

{% block content %}
    <input type="hidden" name="pluginHandle" value="matrix-field-preview">
    {{ actionInput('matrix-field-preview/settings/fields') }}
    {% namespace 'settings' %}
        <div class="field mfp-settings-table">
            <div class="heading">
                <label>{{ "Configure your matrix fields"|t('matrix-field-preview') }}</label>
                <div class="instructions"><p>Enable/disable the matrix fields you want previews to appear on</p></div>
            </div>
            {% if matrixFields | length <= 0 %}
                <p class="error">{{ "No matrix blocks exists yet"|t('matrix-field-preview') }}</p>
            {% else %}
                <table id="fields" class="data fullwidth">
                    <thead>
                        <th scope="col">{{ "Matrix Field"|t('matrix-field-preview') }}</th>
                        <th scope="col">{{ "Enabled"|t('matrix-field-preview') }} <span class="info"><p>Whether or not to show previews for this matrix field.</p></span></th>
                        <th scope="col">{{ "Takeover"|t('matrix-field-preview') }} <span class="info"><p>Whether to completely take-over the matrix field with custom previews,<br>or just show previews alongside the existing Craft matrix field interface.</p></span></th>
                    </thead>
                    <tbody>
                        {% for fieldConfig in fieldConfigs %}
                            {% set matrixField = fieldConfig.field %}
                            <tr data-id="{{ loop.index }}" data-name="{{ matrixField.handle }}">
                                <td scope="row" data-title="Matrix Field">
                                    <strong>{{ matrixField.name }}</strong>
                                </td>
                                <td scope="row" data-title="Enable/Disable">
                                    {{ forms.lightswitchField({
                                        name: matrixField.handle ~ '_enablePreviews',
                                        id: matrixField.handle ~ '_enablePreviews',
                                        on: fieldConfig.enablePreviews
                                    }) }}
                                </td>
                                <td scope="row" data-title="Takeover">
                                    {{ forms.lightswitchField({
                                        name: matrixField.handle ~ '_enableTakeover',
                                        id: matrixField.handle ~ '_enableTakeover',
                                        on: fieldConfig.enableTakeover
                                    }) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% endnamespace %}
{% endblock %}