{% import '_includes/forms' as forms %}

{% from "matrix-field-preview/_includes/macros" import assetLocationInput,configWarning  %}

{% if showTakeover is not defined %}
    {% set showTakeover = true %}
{% endif %}

<div class="field mfp-settings-table">
    <div class="heading">
        <label>{{ "Configure " ~ type | capitalize ~ " Fields"|t('matrix-field-preview') }}</label>
        <div class="instructions"><p>{{ "Use this page to configure which " ~ type ~ " fields will display previews." | t('matrix-field-preview') }}</p></div>
    </div>
    {% if fields | length <= 0 %}
        <hr />
        <p class="warning with-icon"> {{ "No " ~ type | lower ~ " fields exist yet. Create some fields via the control panel and return here to enable image previews."|t('matrix-field-preview') }}</p>
    {% else %}
        <table id="fields" class="data fullwidth">
            <thead>
                <th scope="col">{{ type | capitalize ~ " Field"|t('matrix-field-preview') }}</th>
                <th scope="col">{{ "Image Previews Enabled"|t('matrix-field-preview') }} <span class="info"><p>{{ "Whether or not to show previews for this " ~ type | lower ~ " field in." | t('matrix-field-preview') }}</p></span></th>
                {% if showTakeover %}
                    <th scope="col">{{ "Takeover"|t('matrix-field-preview') }} <span class="info"><p>{{ "Take-over the default " ~ type | lower ~" field UI. If disabled, previews will still be available via a separate button" | t('matrix-field-preview') }}</p></span></th>
                {% endif %}
            </thead>
            <tbody>
                {% for fieldConfig in fieldConfigs %}
                    {% set field = fieldConfig.field %}
                    <tr data-id="{{ loop.index }}" data-name="{{ field.handle }}">
                        <td scope="row" data-title="{{ type | capitalize }} Field">
                            <strong>{{ field.name }}</strong>
                        </td>
                        <td scope="row" data-title="Enable/Disable">
                            {{ forms.lightswitchField({
                                name: 'settings[' ~ field.handle ~ '][enablePreviews]',
                                id: field.handle ~ '-enablePreviews',
                                on: fieldConfig.enablePreviews
                            }) }}
                        </td>
                        {% if showTakeover %}
                            <td scope="row" data-title="Takeover">
                                {{ forms.lightswitchField({
                                    name: 'settings[' ~ field.handle ~ '][enableTakeover]',
                                    id:  field.handle ~ '-enableTakeover',
                                    on: fieldConfig.enableTakeover
                                }) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>