{#
    Based on the Craft user portrait:

    https://github.com/craftcms/cms/blob/master/src/templates/users/_photo.html
    https://github.com/craftcms/cms/blob/master/src/web/assets/edituser/src/profile.js

    Note: This is a partial so that the JS can re-render this snippet after upload 
#}
{% do view.registerTranslations('matrix-field-preview', [
    "Change preview image",
    "Delete preview image",
    "Upload a preview image",
    "Please set a volume for storing preview images in the general settings page."
]) %}
{% set volumeUid = settings.previewVolumeUid %}
{% if volumeUid %}
    <div class="mfp-settings-preview-image" data-blocktypeconfig="{{ blockTypeConfig.id }}">
        <div class="mfp-settings-preview-image__thumb">
            <img src="{{ blockTypeConfig.getThumbUrl(800) }}" alt="">
        </div>
        <div class="mfp-settings-preview-image__controls">
            <input type="file" name="preview-image" class="hidden">
            {% if blockTypeConfig.previewImage %}
                <div class="flex flex-nowrap">
                    <button type="button" class="btn mfp-settings-preview-image__upload">{{ "Change preview image"|t('matrix-field-preview') }}</button>
                    <button type="button" class="btn mfp-settings-preview-image__delete">{{ "Delete preview image"|t('matrix-field-preview') }}</button>
                </div>
            {% else %}
                <div class="flex flex-nowrap">
                    <button type="button" class="btn mfp-settings-preview-image__upload">{{ "Upload a preview image"|t('matrix-field-preview') }}</button>
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <p class="warning with-icon"> {{ 'Please set a volume for storing preview images in the general settings page.'|t('matrix-field-preview')}}</p>
{% endif %}
