{% import "_includes/forms" as forms %}

{# 
    Adapted from:
    https://github.com/craftcms/cms/blob/develop/src/templates/settings/users/settings.html
 #}
{% set allVolumes = craft.app.volumes.getAllVolumes() %}
{% set volumeList = [] %}
{% for volume in allVolumes %}
    {% set volumeList = volumeList|merge([{'value': volume.uid, 'label': volume.name}]) %}
{% endfor %}


{% macro assetLocationInput(volumeOptions, volumeUid, subpath) %}
    {% from "_includes/forms" import select, text %}
    <div class="flex">
        <div>
            {{ select({
                id: 'previewVolumeUid',
                name: 'previewVolumeUid',
                options: volumeOptions,
                value: volumeUid,
            }) }}
        </div>
        <div class="flex-grow">
            {{ text({
                id: 'previewSubpath',
                class: 'ltr',
                name: 'previewSubpath',
                value: subpath,
                placeholder: "path/to/subfolder"|t('matrix-field-preview')
            }) }}
        </div>
    </div>
{% endmacro %}

{% from _self import assetLocationInput %}

{% if volumeList %}
    {{ forms.field(
        {
            first: true,
            label: "Preview Image Location"|t('matrix-field-preview'),
            instructions: "Where do you want to store matrix field preview images?"|t('matrix-field-preview'),
            warning: (not settings.previewVolumeUid) ? "Please save this volume location for your preview images before continuing" : null
        },
        assetLocationInput(volumeList, settings.previewVolumeUid, settings.previewSubpath)
    ) }}

{% else %}
    {{ forms.field({
        first: true,
        label: "Preview Image Location"|t('matrix-field-preview'),
    }, '<p class="error">' ~ "No volumes exist yet."|t('matrix-field-preview') ~ '</p>') }}
{% endif %}
<div class="field mfp-settings-table">
    <div class="heading">
        <label>{{ "Configure your matrix blocks"|t('matrix-field-preview') }}</label>
        <div class="instructions"><p>Click a matrix block below to configure its description and preview image</p></div>
    </div>
    {% if rows | length <= 0 %}
        <p class="error">{{ "No matrix blocks exists yet"|t('matrix-field-preview') }}</p>
    {% else %}
        <table id="fields" class="data fullwidth">
            <thead>
                <th scope="col">{{ "Name"|t('matrix-field-preview') }}</th>
                <th scope="col">{{ "Handle"|t('matrix-field-preview') }}</th>
                <th scope="col">{{ "Has Description"|t('matrix-field-preview') }}</th>
                <th scope="col">{{ "Has Image"|t('matrix-field-preview') }}</th>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr data-id="{{ loop.index }}" data-name="{{ row.blockType.name }}">
                        <td scope="row" data-title="Name">
                            <a href="{{ actionUrl('matrix-field-preview/preview', {
                                blockTypeId: row.blockType.id
                            }) }}"><strong>{{ row.blockType.name }}</strong></a>
                        </td>
                        <td scope="row" data-title="Description">
                            {{ row.blockType.handle }}
                        </td>
                        <td scope="row" data-title="Description">
                            {% if row.preview and row.preview.description %}
                                <img class="mfp-settings-table__icon" src="{{ assets.success }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if row.preview and row.preview.previewImageId %}
                                <img class="mfp-settings-table__icon" src="{{ assets.success }}">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if not settings.previewVolumeUid %}
        <div class="mfp-settings-table__overlay">&nbsp;</div>
    {% endif %}
</div>