{# This is a partial so that the JS can re-render this snippet after upload  #}
{% set volumeUid = settings.previewVolumeUid %}
{% if volumeUid %}
    <div class="mfp-preview-image" data-preview="{{ preview.id }}">
        <div class="mfp-preview-image__thumb">
            <img src="{{ preview.getThumbUrl(250) }}" alt="">
        </div>
        <div class="mfp-preview-image__controls">
            <input type="file" name="preview-image" class="hidden" />
            {% if preview.previewImage %}
                <div class="btn mfp-preview-image__button--upload">{{ "Change preview image"|t('matrix-field-preview') }}</div>
                <div class="btn mfp-preview-image__button--delete">{{ "Delete preview image"|t('matrix-field-preview') }}</div>
            {% else %}
                <div class="btn mfp-preview-image__button--upload">{{ "Upload a preview image"|t('matrix-field-preview') }}</div>
            {% endif %}
        </div>
    </div>
{% else %}
    <p>{{ 'Please set a volume for storing the user photos in user settings page first.'|t('matrix-field-preview')}}</p>
{% endif %}
