{% extends "_layouts/cp" %}

{% if plugin is not defined %}
    {% set plugin = craft.app.getPlugins().getPlugin('matrix-field-preview') %}
{% endif %}

{% if title is not defined %}
    {% set title = plugin.name %}
{% endif %}

{% set neo = craft.app.plugins.getPlugin('neo', false) %}
{% set selectedItem = craft.app.request.getSegment(3)|default("fields") %}

{% block sidebar %}
    <nav>
        <ul>
            <li class="heading"><span>{{ "Settings" | t }}</span></li>
            <li>
                <a href="{{ url('matrix-field-preview/settings') }}"{% if craft.app.request.pathInfo == "matrix-field-preview/settings" %} class="sel"{% endif %}>
                    {{ "General"|t("matrix-field-preview")}}
                </a>
            </li>
            <li>
                <a href="{{ url('matrix-field-preview/settings/categories') }}"{% if selectedItem == "categories" %} class="sel"{% endif %}>
                    {{ "Categories"|t("matrix-field-preview")}}
                </a>
            </li>
            <li class="heading"><span>{{ "Matrix Fields" | t }}</span></li>
            <li>
                <a href="{{ url('matrix-field-preview/settings/matrix-fields') }}"{% if selectedItem == "matrix-fields" %} class="sel"{% endif %}>
                    {{ "Configure Fields"|t("matrix-field-preview")}}
                </a>
            </li>
            <li>
                <a href="{{ url('matrix-field-preview/settings/matrix-block-types') }}"{% if selectedItem in ["matrix-block-types", "matrix-block-type"] %} class="sel"{% endif %}>
                    {{ "Configure Previews"|t("matrix-field-preview")}}
                </a>
            </li>

            {% if neo != false and neo.isInstalled %}
                <li class="heading"><span>{{ "Neo Fields" | t }}</span> {% if not craft.matrixFieldPreview.neoIsCompatibleVersion() %}<span title="Incompatible Neo version (>= 2.8.14 required)" aria-label="Incompatible Neo version" data-icon="alert"></span>{% endif %}</li>
                <li>
                    <a href="{{ url('matrix-field-preview/settings/neo-fields') }}"{% if selectedItem == "neo-fields" %} class="sel"{% endif %}>
                        {{ "Configure Fields"|t("matrix-field-preview")}}
                    </a>
                </li>
                <li>
                    <a href="{{ url('matrix-field-preview/settings/neo-block-types') }}"{% if selectedItem in ["neo-block-types", "neo-block-type"] %} class="sel"{% endif %}>
                        {{ "Configure Previews"|t("matrix-field-preview")}}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}